@media screen and (min-width: 320px) {
    .container {
        max-width: 428px;
    }
    .feature {
        margin: 72px 0;
    }
    .featuretitle {
        font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
    }
    .item {
        font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
    }
    .sectionfive {
        margin: 16px;
    }

    .boxdesc {
        margin-bottom: 72px;
    }
.footerboxlogo {
    margin-bottom: 72px;
}
.subscribe-btn {
    margin-top: 16px;
}
 .mail-tel {
        margin-bottom: 40px;
    }
    .footerlist {
        gap: 54px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .adress-link {
        font-size: 16px;
    }
    .picture {
        margin: 64px 24px ;
    }
    .fivelist-item {
        margin: 72px 24px ;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    .blok {
        display: flex;
    }
    .featuretwo {
        display: flex;
    }
    .feature {
        text-align: left;   
        display: flex;
        width: calc((100% - 72px) / 4);
    }
    .sectionblok {
        padding: 120px 0;
    }
    .sectionservice {
        display: block;
    }
    .four {
        display: flex;
    }
    .sectionfive {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }
    .fivelist-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }

    /* footer */
    .box {
        display: flex;
        text-align: left;
    }
    .footerbox {
        display: flex;
        align-items: baseline;
        width: 1158px;
        margin: 0 auto;
    }
    .boxfooter {
        margin-right: 120px;
    }
    .footerform {
        margin-left: 100px;
    }
    .formsubscription {
        display: flex;
        gap: 24px ;
    }

    .modal {
        width: 408px;
    }



    .adress-link-active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .cart {
        display: flex;
    }
    .mail-tel {
        display: flex;
    }
}